
    <div class="container">
        <div class="row row-content">
            <div class="col-xs-12 col-sm-6 col-lg-4">
               <div class="card card-inverse card-block">
                    
                      <h4 class="card-title"><span class="glyphicon glyphicon-question-sign"></span>What is Swappy?</h4>
                      <p class="card-text">Swappy is website which helps you to exchange or give away your old clothes. It's is very easy to use, simply register, browse ads and post your own.
                      If there is an item you like, contact the owner and arange shipping.</p>
                      
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
               <div class="card card-block card-inverse">
                    
                      <h4 class="card-title"><span class="glyphicon glyphicon-piggy-bank"></span>How much do I have to pay?</h4>
                      <p class="card-text">Swappy is free of any charge. We don't take any fee nor we handle shipping. Shipping is handled between person who posted the ads and the one who wants the item.</p>
                     
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
               <div class="card card-block card-info">
                    
                      <h4 class="card-title"><span class="glyphicon glyphicon-user"></span>How to register?</h4>
                      <p class="card-text">Registration is very simple. Fil in the registration form and log in. Only personal information that is displayed is 
                      your username and your email for contact.</p>
                     
              </div>
            </div>
            
            
            
            
            <!--
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
                <div ng-if="!showDish">
                    <h3>{{message}}</h3>
                </div>
                <div class="media" ng-if="showDish">
                    <div class="media-left media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail" 
                        ng-src={{dish.image}} alt="Uthappizza">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{dish.name}} 
                        <span class="label label-danger">{{dish.label}}</span> 
                        <span class="badge">{{dish.price/100 | currency}}</span></h2>
                        <p>{{dish.description}}</p>
                    </div>
                </div>
            </div> -->
        </div>
        
        
        
         <div class="row row-content">
            <div class="col-xs-12 col-sm-6 col-lg-4">
               <div class="card card-inverse card-block">
                    
                      <h4 class="card-title"><span class="glyphicon glyphicon-plus"></span>How to make ad?</h4>
                      <p class="card-text">Go to "Your account" --> "Your ad" and click on "New ad" button. This will open form for creating new ad.</p></p>
                      
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
               <div class="card card-block card-info">
                    
                      <h4 class="card-title"><span class="glyphicon glyphicon-heart"></span>Can I mark item as favorite?</h4>
                      <p class="card-text">Of course you can! Each item ad has heart shaped icon. By clicking that icon you saved that ad as your favorite. If you change your mind simply remove that item from your list.</p>
                     
              </div>
            </div>
            
            <div class="col-xs-12 col-sm-6 col-lg-4">
               <div class="card card-block card-info">
                    
                      <h4 class="card-title"><span class="glyphicon glyphicon-search"></span>Can I search items?</h4>
                      <p class="card-text">Yes! Items are listed by categories. If you want, you can search in each category by item type.</p>
                     
              </div>
            </div>
            
            
        </div>
        
<!--
        <div class="row row-content">
            <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
                <h3 align=center>This Month's Promotions</h3>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div ng-if="!showPromotion">
                    <h3>{{message}}</h3>
                </div>
                <div class="media" ng-if="showPromotion">
                    <div class="media-body">
                        <h2 class="media-heading">{{promotion.name}} 
                        <span class="label label-danger label-xs">{{promotion.label}}</span>
                        <span class="badge">{{promotion.price/100 | currency}}</span></h2>
                        <p>{{promotion.description}}</p>
                    </div>
                    <div class="media-right media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail" 
                        ng-src="{{promotion.image}}" alt="Weekend Grand Buffet">
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
        
<!--
        <div class="row row-content">
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <p style="padding:20px;"></p>
                <h3 align=center>Meet our Culinary Specialists</h3>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
                <div ng-if="!showLeader">
                    <h3>{{message}}</h3>
                </div>
                <div class="media" ng-if="showLeader">
                    <div class="media-left media-middle">
                        <a>
                        <img class="media-object img-thumbnail"
                        ng-src={{leader.image}} alt="Peter Pan">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">{{leader.name}}
                        <small>{{leader.designation}}</small></h3>
                        <p>{{leader.description}}</p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
